<h1>View Your Posts</h1>
<p>
<%= link_to 'New Post', new_note_path %>
</p>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    <% @note.each do |note| %>
        <tr>
            <td><%= note.title %></td>
            <td><%= note.description %></td>
            <td><%= link_to 'Edit', edit_note_path(note) %></td>
            <td><%= link_to 'Show', note_path(note) %></td>
           
        </tr>
    <% end %>
    <p><%= link_to "Home", note_path(@note) %></p>
</table> 

