<h1>Your Posts</h1>
<p>
<%= link_to 'New Post', new_note_path %>
</p>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    <% @note.each do |note| %>
        <tr>
            <td><%= note.title %></td>
            <td><%= note.description %></td>
            <td><%= link_to 'Edit', edit_note_path(note) %></td>
            <td><%= link_to 'Show', note_path(note) %></td>
            <td><%= link_to 'Destroy', note_path(@note), data: {confirm: 'Are You Sure?'}, method: :delete %></td>
        </tr>
    <% end %>
</table> 

<%= link_to 'Back', note_path(@note) %>