<h1>Tutor or Tutee</h1> 
<%= form_for @note do |f| %>

    <p><%= f.label :title %>
    <%= f.text_field :title %>
    </p>

    <p><%= f.label :description %>
    <%= f.text_field :description %>
    </p>

    <p><%= f.submit%></p>

    <% if @note.errors.any? %>
    <h2>Aht aht! Your note didn't save</h2>
    <% @note.errors.full_messages.each do |error| %>
        <%= message %>
    <% end %> 

    <% end %> 