<h1>Check out Your notes</h1>

<p>
Title: <%= @note.title %>
</p>
<p>
Description: <%= @note.description %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> 
<%= link_to 'Delete', note_path(@note), data: {confirm: 'Are You Sure?'}, method: :delete %> 

<h2>Comments</h2>
<%= render partial: 'notes/comment', collection: @note.comments.reverse %>

<%= render partial: 'comments/form' %>


